#header{
    width: 100%;
    height: 100px;
    background: #3700ff;
}
*{
    padding:0%;
    margin: 0%;
}
#menu {
  float: left;
  padding-right: 20px;
  margin-top: 5px;
  margin-left: 20px;
 color: rgb(85, 153, 51);
}

#menu li {
  list-style: none;
}
#menu1{
    float: right;
    /* margin-left: 1000px;
    margin-bottom: 10px; */

}
#menu1 li
{
    list-style: none;
    margin-top: 30px;
    float: left;
    padding-right: 25px;
}
/* #header1
  {
        width: 100%;
        height: 550px;
        background: green;
        background-image: url("images/img1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
  background-attachment: fixed;
  background-size: cover;
  }
  *{
    padding:0%;
    margin: 0%;
} */
.bg-img {
    /* The image used */
    background-image: url("images/img1.jpg");
  
    height: 500px;

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }  
  .button{
    background-color: rgb(0, 140, 255);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;  
  }
  .button:hover{
    background-color: #3700ff;
    cursor:pointer
  }
  .login{
    background-color: rgb(0, 140, 255);
    color: black;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;  
  }
  .login:hover{
    background-color: #3700ff;
    cursor:pointer
  }
  table{
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    border: #3700ff;
  }